# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Coverage files
.coverage
htmlcov/

# Ruff cache
.ruff_cache/

# Pytest
.pytest_cache/
pytest_cache/


# Virtual environments
.venv/
env/
venv/

#put secrets in local env
.env

#avoiding commiting of data
*.db
instance/
