<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo Page</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
  <nav>
    <h1>Task List Application</h1>
    <ul>
      <li class="navlink"><a href="{{ url_for('home') }}">Logout</a></li>
      <li class="navlink"><a href="{{ url_for('tasks', name=name) }}">View Tasks</a></li>
      <li class="navlink"><a href="{{ url_for('create_task', name=name) }}">New Task</a></li>
    </ul>
  </nav>

  <main>
    {% block main %}
    {% endblock %}
  </main>
</body>
</html>
