{% extends 'base.html' %}

{% block nav %}
  {% include "components/nav.html" %}
{% endblock %}

{% block main %}
<div class="page content-page">
  <div class="card">
    <h1 class="card-title">Create a new task</h1>

    <form method="POST" class="form">
        {{ form.hidden_tag() }}

        <div class="form-group">
          {{ form.title.label(class="form-label") }}
          {{ form.title(class="form-input") }}
        </div>

        <div class="form-actions">
          {{ form.submit(class="btn btn-primary") }}
          <a href="{{ url_for('main.tasks', name=name) }}" class="btn btn-secondary">Back to tasks</a>
        </div>
    </form>
  </div>
</div>
{% endblock %}
